html body .orGoogle::after, .orGoogle::before{
    content: "";
    border-bottom: 1px solid;
    flex: 1 0 auto;
    /* height: 0.5em; */
    margin: 0;
}
html body .orGoogle{
    display: flex;
    align-items: center;
    font-size: 0.9em;
    margin: 1em 0;
    text-transform: uppercase;
}

html body .orGoogle span{
    text-align: center;
    flex: 0.2 0 auto;
    margin: 0;
}

html body .img-logo{
    width: 25px;
    height: 25px;
    align-self: center;
    margin-right: 15px;
}

html body .block-login{
    width: 400px;
}

html body .text-justify{
    text-align: justify;
}
